<app-header></app-header>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm mx-auto" style="cursor: pointer; width: 18rem" (click)="goTo('hygiene')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-life-bouy text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Hand Hygiene</h5>
                    <p class="card-text">Submit information about observed hand hygiene practices</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-sm mx-auto" style="cursor: pointer; width: 18rem" (click)="goTo('survey')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-clipboard text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Quality Audit</h5>
                    <p class="card-text">Complete a site survey quality audit at your school location.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-sm mx-auto cursor-pointer" style="width: 18rem" (click)="goTo('incidents')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-bullhorn text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Report an Incident</h5>
                    <p class="card-text">Report an observed incident at a school location.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm mx-auto" style="cursor: pointer; width: 18rem" (click)="goTo('gloves')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-hand-paper-o text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Glove Changes</h5>
                    <p class="card-text">Submit information about observed glove change practices.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-sm mx-auto" style="cursor: pointer; width: 18rem" (click)="goTo('screening')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-thermometer-3 text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Daily Health Screening</h5>
                    <p class="card-text">Submit information about your health status.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="currentUser && currentUser.isAdministrator">

        <div class="col-md-4 mt-5 mb-5">
            <div class="card shadow-sm mx-auto" style="cursor: pointer; width: 18rem" (click)="goTo('reports')">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-bar-chart text-muted"></i>
                </div>

                <div class="card-body text-center border-top">
                    <h5 class="card-title font-weight-bold">Graphs & Reports</h5>
                    <p class="card-text">Detailed reports and data from submitted audits.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5 mb-5" *ngIf="currentUser && currentUser.isAdministrator">
            <div class="card shadow-sm mx-auto" style="width: 18rem">
                <div class="p-3 mx-auto">
                    <i class="fa fa-fw fa-4x fa-medkit text-muted"></i>
                </div>

                <div class="card-body text-center text-center">
                    <h5 class="card-title font-weight-bold">Patient Portal</h5>
                    <hr>
                    <button type="button" class="btn btn-primary w-100" (click)="registerPatient()">Register Patient
                    </button>
                    <button type="button" class="btn btn-secondary w-100 mt-2" (click)="lookupPatient()">Lookup
                        Patient
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

