<div class="container" style="margin: 180px auto; width: 380px">
    <div class="image">
        <img src="assets/ih-logo.png" style="width: 220px; margin-bottom: 20px">
    </div>

    <b class="font-12">Reset Password for <span class="text-muted">{{user.email}}</span></b>
    <hr>

    <form class="form-horizontal">
        <div class="alert alert-info" *ngIf="user.usingTemporaryPassword == true">
            <i class="fa fa-fw fa-info-circle font-14 pull-left"></i> Please update your password below.
            <br>All fields are required.
        </div>
        <br>

        <div class="form-group" style="border-bottom: 1px solid #ddd; padding-bottom: 15px">
            <label class="control-label font-weight-bold" for="oldPassword">Current password</label>

            <div>
                <input type="password" id="oldPassword" placeholder="Enter your current password" name="old-password"
                       [(ngModel)]="user.password" (change)="validateCurrentPassword()"
                       class="form-control form-control-sm"
                       [ngClass]="{'is-valid': passwords.validation.validExistingPassword,
                       'is-invalid': passwords.validation.invalidExistingPassword}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label font-weight-bold" for="password">New password</label>

            <div>
                <input type="password" id="password" placeholder="Enter new password" name="password"
                       [(ngModel)]="passwords.newPassword" (input)="checkPassword()"
                       class="form-control form-control-sm"
                       [ngClass]="{'is-valid': passwords.validation.valid === true,
                       'is-invalid': passwords.validation.valid === false}">

                <div class="text-muted font-85" style="margin-top: 5px; margin-left: 5px">
                    <b>Requirements</b>
                    <ul class="font-italic">
                        <li [ngClass]="{'red': passwords.validation.validLength == false, 'green': passwords.validation.validLength == true}">
                            minimum of 8 characters
                        </li>
                        <li [ngClass]="{'red': passwords.validation.containsLetter == false || passwords.validation.containsNumber == false, 'green': passwords.validation.containsLetter && passwords.validation.containsNumber}">
                            combination of letters and numbers
                        </li>
                        <li [ngClass]="{'red': passwords.validation.containsSpace, 'green': passwords.validation.containsSpace==false}">
                            cannot contain spaces
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label font-weight-bold" for="newPassword">Confirm new password</label>

            <input type="password" id="newPassword" placeholder="Confirm new password"
                   name="new-password" class="form-control form-control-sm"
                   [disabled]="!passwords.validation.valid" [(ngModel)]="passwords.newPasswordRepeat"
                   [ngClass]="{'is-valid': passwords.newPassword === passwords.newPasswordRepeat &&
                       passwords.validation.valid==true}">

            <button type="submit" class="btn btn-default btn-primary mt-4" (click)="resetPassword()"
                    [disabled]="passwords.newPassword !== passwords.newPasswordRepeat || !passwords.validation.valid || !passwords.validation.validExistingPassword || passwords.validation.invalidExistingPassword">
                Reset Password
            </button>
        </div>
    </form>
</div>
