header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
    vertical-align: middle;
}

header a {
    color: #777;
    text-decoration: none;
    font-size: 0.90em;
}

header a:hover {
    color: #333333;
}

nav {
    float: right;
    margin-top: 1em;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li a {
    padding: 1em;
}

@media (max-width: 400px) {
    .hide-on-mobile {
        display: none;
    }
}

