.form-label {
    color: #777777;
    font-weight: bold;
    font-size: 0.70em;
    text-transform: uppercase;
}

#cover {
    /*background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;*/
    /*background-size: cover;*/
    height: 100%;
    display: flex;
    /*align-items: ;*/
    padding-top: 10rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 10px;
}
