<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC connection pool (using c3p0) -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>

        <!-- Enables Hibernate's automatic session context management -->
        <property name="current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext
        </property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property> <!-- FALSE hide SQL -->

        <property name="hibernate.jdbc.batch_size">20</property>

        <!-- format -->
        <property name="format_sql">false</property> <!-- FALSE hide SQL -->

        <!-- Drop and re-create the database schema on startup (normally it should be validate) -->
        <property name="hbm2ddl.auto">update</property> <!-- update (existing) create (drop and create new) -->

        <!-- hibernate search -->
        <!-- use org.hibernate.search.store.RAMDirectoryProvider for testing -->
        <property name="hibernate.search.default.directory_provider">
            org.hibernate.search.store.impl.FSDirectoryProvider
        </property>

    </session-factory>
</hibernate-configuration>
