<section id="cover" class="min-vh-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto text-center form p-4 border shadow-sm bg-white">

                <img src="assets/img.png" alt="Infiniti Health" style="width: 250px" class="pb-2">

                <hr>

                <div class="px-2 pt-3">

                    <div class="alert alert-success" *ngIf="!processing && passwordWasReset">
                        <p class="font-95">Your password reset request has been submitted.
                            <br>
                            <br>Please check the email associated with your account for further instructions.
                        </p>
                        <button class="btn btn-sm btn-link" (click)="goToLogin()">Go to login</button>
                    </div>

                    <div class="alert alert-danger" *ngIf="!processing && errorResetting">
                        <p class="font-95">There was an error resetting your password.
                            <br>Please try again or contact your administrator.
                        </p>
                        <button class="btn btn-sm btn-link" (click)="clearField()">Try again</button>
                    </div>

                    <div class="text-muted mb-4">Please enter your user id to reset your password.</div>

                    <form id="resetPasswordForm" *ngIf="!passwordWasReset && !errorResetting"
                          class="justify-content-center">

                        <div id="fields" class="form-group">
                            <input type="text"
                                   placeholder="Email"
                                   id="userid"
                                   class="form-control"
                                   [(ngModel)]="userId"
                                   name="userId"
                                   [ngClass]="{'is-invalid': idFieldEmpty}" required>
                        </div>

                        <div class="mt-5">
                            <button type="submit"
                                    [disabled]="processing"
                                    class="w-100 btn btn-primary"
                                    id="submit"
                                    (click)="resetPassword()">
                                <i *ngIf="processing" class="fa fa-spinner fa-pulse fa-fw"></i>
                                Submit
                            </button>

                            <button style="width: 250px" class="btn btn-link" (click)="goToLogin()">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>