.profile_menu {
    color: #a7a7a7;
    cursor: pointer;
    font-size: 0.85rem;
}

.profile_menu .selected {
    color: #233559;
    border-left: 0;
    font-weight: bold;
    background-color: #fff;
}

.profile_menu .font-awesome {
    color: #f3f6fc;
}

.profile_menu td:hover {
    color: #233559;
}

.profile_menu td {
    padding: 9px 7px 4px 7px;
    border-top: 2px solid #fff;
    background-color: #f9f9f9;
}

.profile_menu .selected {
    color: #233559;
    border-left: 0;
    font-weight: bold;
    background-color: #fff;
}

.profile_menu .font-awesome {
    color: #f3f6fc;
}

.profile_menu td:hover {
    color: #233559;
}

.profile_menu td {
    padding: 9px 7px 4px 7px;
    border-top: 2px solid #fff;
    background-color: #f9f9f9;
}
