<app-header></app-header>

<div class="bg-light">

    <br><br> <br><br>

    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12 small text-uppercase text-monospace font-weight-bold">
                <a style="color: black" href="/">Home</a> / <span class="text-muted">Daily Health Screening</span>
            </div>
        </div>
    </div>

    <div class="container bg-white shadow-sm p-5">

        <div class="row">
            <div class="col-sm-12">
                <h3>Daily Health Screening</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ngb-progressbar type="primary" [showValue]="false" [value]="progress"
                                 style="height: 8px"></ngb-progressbar>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right font-weight-bold small">
                <i class="fa fa-fw fa-check text-success"
                   *ngIf="this.answeredCount === (this.questions.length + 1)"></i>
                <span [ngClass]="getSubmissionClass()">Answered {{answeredCount}} / {{questions.length + 1}}</span>
            </div>
        </div>

        <div class="row mb-5">
            <ng-container *ngIf="page >= 0">
                <div class="col mt-2" *ngIf="page === questions.length">
                    <div class="cursor-pointer mt-5" (click)="setAttestation()" style="font-size: large">
                        <i class="fa fa-fw" [ngClass]="{'fa-square-o': !attested, 'fa-check-square-o': attested}"></i>
                        For the safety and protection of myself and my
                        colleagues, I attest that I have answered the prompts in this questionnaire truthfully.
                    </div>
                </div>

                <div class="col mt-2" *ngIf="page < questions.length">
                    <div class="font-weight-bold mt-5">{{questions[page].label}}</div>
                    <br>
                    <p *ngIf="questions[page].options">{{questions[page].details}}</p>

                    <textarea *ngIf="!questions[page].options" name="comments" id="comments" class="form-control"
                              rows="6" [placeholder]="questions[page].details"
                              [(ngModel)]="questions[page].comments"></textarea>

                    <div *ngIf="questions[page].options" style="font-size: large">
                <span class="btn btn-light" (click)="setAnswer(true)">
                    <i class="fa fa-fw"
                       [ngClass]="{'fa-check-circle': questions[page].answer, 'fa-circle-o': !questions[page].answer}"></i> {{questions[page].options[0]}}
                </span>
                        <span class="ml-3 btn btn-light" (click)="setAnswer(false)">
                    <i class="fa fa-fw"
                       [ngClass]="{'fa-check-circle': questions[page].answer === false, 'fa-circle-o': questions[page].answer !== false || questions[page].answer === true}"></i> {{questions[page].options[1]}}
                </span>
                    </div>
                </div>
            </ng-container>
        </div>

        <hr>

        <div class="row mt-5">
            <div class="col text-left">
                <button class="btn btn-secondary" [disabled]="page <= 0" (click)="previousQuestion()">
                    <i class="fa fa-fw fa-angle-double-left"></i> Previous
                </button>
            </div>

            <div class="col text-right">
                <button class="btn btn-secondary" [disabled]="nextDisabled()" (click)="nextQuestion()"
                        *ngIf="!isLastQuestion()">Next <i class="fa fa-fw fa-angle-double-right"></i></button>

                <button class="btn btn-primary ml-1" *ngIf="isLastQuestion() || answeredCount === questions.length + 1"
                        [disabled]="submitDisabled()" (click)="submitReport()">
                    <span *ngIf="!submittingReport">Submit</span>
                    <span *ngIf="submittingReport"><i class="fa fa-spinner fa-pulse fa-fw"></i> Submitting...</span>
                </button>
            </div>
        </div>

    </div>

    <br><br><br><br>

</div>